* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}


.section-info {
    background-image: linear-gradient(#f27329, #faaa36);
}

.info {
    color: #FFFFFF;
}

.info h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 5% 0;
}

.info span {
    color: #ffcb08;
}

#submit-button {
    /* background-color: #d97b6c; */
    /* border-color: #d97b6c; */
    /* text-align: center; */
    /* color: #ffffff; */
    /* --------------- */
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease;
    padding: 18px 48px;
    width: 230px;
    border: 0;
}

@media only screen and (max-width: 678px) {
    #nav-image {
        text-align: center;
        margin: auto;
    }

    #submit-button {
        display: flex;
        bottom: 0;
        font-size: 14px;
        width: auto;
        align-items: center;
        margin: auto;
        margin-bottom: 15px;
    }
}

.button-request {
    background-color: #1a75da;
    color: white;
}

.button-request:hover {
    background-color: #146bcc;
    color: white;
    text-decoration: none;
}

/* FORMULARIO */
.contact-form {
    width: 100%;
    /*  */
    height: 100%;
    /*  */
    margin: 0 auto;
    background-color: #FFFFFF;
}

form .contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: bold;
}

/* border-radius: 15px; border: none; padding-left: 15px; */

.input {
    border-radius: 15px;
    border: none;
    padding-left: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 20px;
    padding: 5px;
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
    background-color: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
    /* border-radius: 5px; */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

/* button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
} */

#mi-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 9999;
    display: none;
}

#cerrar-popup {
    position: absolute;
    top: 5px;
    right: 5px;
}

.error-message {
    background-color: red;
    color: #FFFFFF;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
}